@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

/* .hero-background {
  background-image: radial-gradient(circle, #ffffff, #000);
} */

html, body {
  scroll-behavior: smooth;

  overflow-x: hidden; /* Prevent horizontal overflow */
  margin: 0;
  padding: 0;
}
/* Example CSS for scroll effect */
a.relative.group::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #38b248; /* Tailwind's green-400 */
  transition: width 0.3s;
}

a.relative.group:hover::after {
  width: 100%;
}


/* Animation for RAFETOV.COM */
.rafetov-logo:hover .rafetov-text {
  animation: glow 1s infinite alternate;
  color: #1aff1a;
  transform: scale(1.1);
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #1aff1a, 0 0 20px #1aff1a, 0 0 30px #1aff1a, 0 0 40px #1aff1a;
  }
  100% {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00;
  }
}

/* Hover underline animation */
.rafetov-underline {
  transition: transform 0.5s ease;
}

/* Apply to entire section or page */
.bg-custom-gradient {
  background: linear-gradient(to bottom, #000000, #003000, #007000);
}

/* For each section */
.section-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 48, 0, 0.9), rgba(0, 112, 0, 1));
}
@layer utilities {
  .text-custom-xl {
    font-size: 2.80rem; /* 36px */
    line-height: 3.5rem; /* 40px */
  }
  .text-heading-xl {
    font-size: 5.4rem; /* 72px */
    line-height: 1;
  }
}
